*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
  padding: 5px 5px;
  width: 125px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#grid_container{
    display: grid;
    border: 2px solid;
    width: 320px;
    height: 320px;

}
.cell{
    border: 1px solid;
    transition: white 0.3s ease;
}
.cell.hovered{
    background-color: black;
}